.app-bar {
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  width: 100%;
}

.app-bar .nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 20%;
}

.app-bar .nav-items li {
  font-size: 30px;
  list-style-type: none;
  font-weight: 900;
  cursor: pointer;
}

.app-bar .logo {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 40px;
}

.app-bar .nav-items .theme-switch-button {
  background-color: transparent;
  border: none;
}

.app-bar .nav-items .theme-switch-button .theme-switch-button-icon {
  font-size: 30px;
  cursor: pointer;
}

/******* MEDIA QUERIES*/
@media only screen and (max-device-width: 480px) {
  .nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 40%;
  }

  .app-bar {
    position: fixed;
  }
}
