.app-bar {
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  width: 100%;
  transition: 1s ease;
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 40%;
}

.nav-items li {
  list-style-type: none;
  color: #03015d;
  font-weight: 900;
  cursor: pointer;
}

.app-bar .logo {
  margin-bottom: 10px;
  margin-left: 10px;
  color: #03015d;
  font-size: 40px;
}

.app-bar .nav-items .theme-switch-button {
  background-color: transparent;
  border: none;
}

.app-bar .nav-items .theme-switch-button .theme-switch-button-icon {
  color: #03015d;
  font-size: 30px;
  cursor: pointer;
}

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 80px;
  height: 25px;
  background: #03015d;
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 5px;
  width: 20px;
  height: 20px;
  background: grey;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background: #fff;
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

/******* MEDIA QUERIES*/
@media only screen and (max-device-width: 480px) {
  .nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 40%;
  }

  .app-bar {
    position: inherit;
  }
}
