.task-container {
  display: flex;
  justify-content: space-between;
  background-color: #fffdfd;
  border-radius: 10px;
  padding: 10px 10px 30px 10px;
  margin: 10px;
}

.action-buttons {
  background-color: #fffdfd;
  border-radius: 10px;
}

.task-container:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.task-card {
  display: flex;
  flex-direction: column;
  background-color: #fffdfd;
  border-radius: 10px;
}

.high-priority {
  border-top: 10px solid rgba(250, 1, 1, 0.5);
}

.medium-priority {
  border-top: 10px solid rgba(238, 157, 8, 0.5);
}

.less-priority {
  border-top: 10px solid rgba(0, 128, 0, 0.5);
}

h1,
p {
  margin-top: 20px;
  margin-bottom: 0;
}

.date {
  display: flex;
}

@media only screen and (max-device-width: 480px) {
  .task-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .task-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .action-buttons {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
}
