.task-container {
  background-color: #fffdfd;
  border-radius: 10px;
  padding: 10px 10px 30px 10px;
  margin: 10px;
}

.action-buttons {
  display: flex;
  justify-content: space-evenly;
  background-color: #fffdfd;
}

.task-container:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.task-card {
  display: flex;
  flex-direction: column;
  background-color: #fffdfd;
  border-radius: 10px;
  width: 100%;
  word-wrap: break-word;
}

.high-priority {
  border-top: 10px solid rgba(250, 1, 1, 0.5);
  border-radius: 10px;
  width: 30%;
}

.medium-priority {
  border-top: 10px solid rgba(238, 157, 8, 0.5);
  border-radius: 10px;
  width: 30%;
}

.less-priority {
  border-top: 10px solid rgba(0, 128, 0, 0.5);
  border-radius: 10px;
  width: 30%;
}

h1,
p {
  margin-top: 20px;
  margin-bottom: 0;
}

.date {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  border-radius: 10px;
  margin-top: 10px;
  width: 50%;
}

.date p {
  margin-bottom: auto;
  margin-top: auto;
}

.deadline-reached {
  background-color: rgba(241, 130, 141, 0.4);
}

.deadline-not-reached {
  background-color: rgba(0, 177, 106, 0.3);
}

@media only screen and (max-device-width: 480px) {
  .task-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .task-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    min-width: 100px;
  }

  .action-buttons {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }

  .date {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .task-card h1 {
    font-size: large;
  }
}
