.tasksCardList {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #efefef;
  width: 300px;
}

.tasksCardList:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

h1 {
  color: #03015d;
}
div.tasksCardListInfo h1.title {
  color: #03015d;
  text-align: center;
}

button.add-button {
  background-color: transparent;
  border: none;
}

button.add-button :first-child {
  font-size: 40px;
  background-color: #03015d;
  margin: 20px 0 10px 100px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: #ffffff;
}

.tasksCardListInfo {
  display: flex;
  justify-content: space-around;
  width: 400px;
}

/* default styles here for older browsers. 
       I tend to go for a 600px - 960px width max but using percentages
    */
@media only screen and (min-width: 960px) {
  /* styles for browsers larger than 960px; */
}
@media only screen and (min-width: 1440px) {
  /* styles for browsers larger than 1440px; */
}
@media only screen and (min-width: 2000px) {
  /* for sumo sized (mac) screens */
}
@media only screen and (max-device-width: 480px) {
  /* styles for mobile browsers smaller than 480px; (iPhone) */
  .tasksCardListContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .tasksCardList {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    width: 390px;
    height: 250px;
    margin-left: 10px;
  }

  .tasksCardListInfo .title {
    width: 250px;
    font-size: 30px;
    padding-top: 15px;
  }
}
@media only screen and (device-width: 768px) {
  /* default iPad screens */
}
/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* For landscape layouts only */
}
