.tasksCardList {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 300px;
  transition: 1s ease;
  border-radius: 10px;
}

.tasksCardList:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

div.tasksCardListInfo h1.title {
  font-size: 25px;
  color: #03015d;
  margin-top: auto;
}

.tasksCardListInfo .plus-icon {
  font-size: 40px;
  /* margin: 20px 0 10px 100px; */
  color: #03015d;
  cursor: pointer;
}

.tasksCardListInfo {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* default styles here for older browsers. 
       I tend to go for a 600px - 960px width max but using percentages
    */
@media only screen and (min-width: 960px) {
  /* styles for browsers larger than 960px; */
}
@media only screen and (min-width: 1440px) {
  /* styles for browsers larger than 1440px; */
}
@media only screen and (min-width: 2000px) {
  /* for sumo sized (mac) screens */
}
@media only screen and (max-device-width: 480px) {
  /* styles for mobile browsers smaller than 480px; (iPhone) */
  .tasksCardListContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  /* .tasksCardList {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-x: scroll;
    width: 300px;
    height: 100%;
    margin-left: 10px;
  } */

  .tasksCardListInfo .title {
    font-size: 30px;
    padding-top: 15px;
  }

  .tasksCardListInfo {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  .tasksCardListInfo > * {
    margin: 10px;
  }
}
@media only screen and (device-width: 768px) {
  /* default iPad screens */
  /* .tasksCardListContainer {
    margin-left: 40px;
  } */

  .tasksCardList {
    /* display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    width: 390px;
    height: 250px;
    margin-left: 10px; */
  }
}
/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* For landscape layouts only */
}
