.tasksCardList {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #efefef;
  width: 20%;
  margin-top: 10px;
}

.tasksCardList:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

h1 {
  color: #03015d;
}
div.tasksCardList h1.title {
  color: #03015d;
  text-align: center;
}

button {
  margin-top: 20px;
}
