.sidebar-collapse {
  width: 50px;
  margin: 0;
  transition: 1s ease;
}

.sidebar-collapse h1 {
  position: fixed;
  font-size: 20px;
  margin: auto;
  padding-top: 15px;
  width: 50px;
  z-index: 1;
  transition: 1s ease;
}

.sidebar-uncollapse {
  width: 150px;
  margin: 0;
  transition: 1s ease;
}

.sidebar-uncollapse h1 {
  position: fixed;
  padding-bottom: 9px;
  padding-top: 9px;
  margin-top: auto;
  width: 127px;
  z-index: 1;
}

.sidebar-menu {
  position: fixed;
  margin-top: 55.2px;
}

.item-collapse {
  opacity: 0;
  transition-duration: 0.4s;
  font-weight: 900;
  margin-left: 5px;
}

.item-uncollapse {
  opacity: 1;
  color: #c4c4c4;
  font-weight: 900;
  margin-left: 5px;
  transition: opacity 5s ease, font-weight 5s ease, margin-left 5s ease;
}

li {
  list-style-type: none;
}

li .sidebar-menu-item,
li.sidebar-menu-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style-type: none;
  font-size: 20px;
  cursor: pointer;
  margin-left: -30px;
  margin-right: 10px;
  text-decoration: none;
  color: #c4c4c4;
}

@media only screen and (device-width: 768px) {
  /* default iPad screens */
  .sidebar-menu {
    position: relative;
  }
}

@media only screen and (max-device-width: 480px) {
  .sidebar-menu {
    position: relative;
  }

  .sidebar-collapse {
    width: 0;
    border: none;
    transition: 1s ease;
  }

  .sidebar-collapse h1 {
    transition: 1s ease;
    width: 0;
    opacity: 0;
  }

  .nav-link-icons-collapse {
    font-size: 0;
    transition: 1s ease;
  }
}

@media only screen and (min-width: 960px) {
  /* styles for browsers larger than 960px; */
  .sidebar-menu {
    position: relative;
  }
}

/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* For portrait layouts only */
  .sidebar-menu {
    position: relative;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* For landscape layouts only */
  .sidebar-menu {
    position: relative;
  }
}
