.sidebar-collapse {
  width: 50px;
  margin: 0;
  transition: 1s ease;
}

.sidebar-collapse h1 {
  font-size: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-top: auto;
  transition: 1s ease;
  /* FIXED */
  position: fixed;
  padding-bottom: 11px;
  border-bottom: 1px solid #c4c4c4;
  width: 50px;
}

.sidebar-uncollapse {
  width: 150px;
  margin: 0;
  transition: 1s ease;
}

.sidebar-uncollapse h1 {
  transition: 1s ease;
  position: fixed;
  padding-bottom: 9px;
  padding-top: 9px;
  margin-top: auto;
  border-bottom: 1px solid #c4c4c4;
  width: 140px;
}

/* TEMPORAIRE */

.sidebar-menu {
  position: fixed;
  margin-top: 80px;
}
/* END TEMPORAIRE */

.item-collapse {
  opacity: 0;
  transition-duration: 0.4s;
  color: #03015d;
  font-weight: 900;
  margin-left: 5px;
}

.item-uncollapse {
  opacity: 1;
  transition: 5s ease;
  color: #c4c4c4;
  font-weight: 900;
  margin-left: 5px;
}

li {
  list-style-type: none;
}

li .sidebar-menu-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style-type: none;
  font-size: 20px;
  cursor: pointer;
  margin-left: -30px;
  margin-right: 10px;
  text-decoration: none;
}

.sidebar-collapse .sidebar-menu li .sidebar-menu-item {
  transition: 1s ease;
  border: none;
}

h1 {
  color: #03015d;
}

li .sidebar-menu-item:hover {
  background-color: inherit;
  border-bottom: 2px solid #0e225d;
  color: #249eca;
}

ul h1 {
  margin-left: -40px;
}

.nav-link-icons {
  color: "#03015d";
}

@media only screen and (device-width: 768px) {
  /* default iPad screens */
  .sidebar-menu {
    position: relative;
  }
}

@media only screen and (max-device-width: 480px) {
  .sidebar-collapse {
    width: 0;
    border: none;
    transition: 1s ease;
  }

  .sidebar-menu {
    position: relative;
    margin-top: 80px;
  }

  .sidebar-collapse h1 {
    transition: 1s ease;
    width: 0;
    opacity: 0;
  }

  .nav-link-icons-collapse {
    font-size: 0;
    transition: 1s ease;
  }
}
