.sidebar-collapse {
  width: 50px;
  margin: 0;
  transition: 1s ease;
}

.sidebar-collapse h1 {
  color: #fff;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 2px;
  transition: 1s ease;
}

.sidebar-uncollapse {
  width: 150px;
  margin: 0;
  transition: 1s ease;
}

.sidebar-uncollapse h1 {
  color: #0e225d;
  transition: 1s ease;
}

.item-collapse {
  opacity: 0;
  transition-duration: 0.4s;
  color: #03015d;
  font-weight: 900;
  margin-left: 5px;
}

.item-uncollapse {
  opacity: 1;
  transition: 5s ease;
  color: #c4c4c4;
  font-weight: 900;
  margin-left: 5px;
}

li {
  list-style-type: none;
}

li .sidebar-menu-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style-type: none;
  font-size: 20px;
  cursor: pointer;
  margin-left: -30px;
  margin-right: 10px;
  text-decoration: none;
}

li .sidebar-menu-item:hover {
  background-color: aliceblue;
}

ul h1 {
  margin-left: -40px;
}

.nav-link-icons {
  color: "#03015d";
}

@media only screen and (max-device-width: 480px) {
  .sidebar-collapse {
    width: 0;
    transition: 1s ease;
  }

  .nav-link-icons-collapse {
    font-size: 0;
    transition: 1s ease;
  }
}
