.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.footer .social-networks {
  display: flex;
  justify-content: center;
}

.footer .social-networks ul.social-networks-links {
  display: flex;
  justify-content: space-around;
  width: 150px;
}

.footer .contact_copyright {
  padding-bottom: 20px;
}

.footer .social-networks ul li a {
  font-size: 30px;
}

.footer .contact_copyright .copyright .author {
  text-decoration: none;
}

/* @media only screen and (max-device-width: 480px) {
 
} */
