.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  height: 100%;
  padding: 60px 0 60px 0;
}

.content > * {
  overflow-y: auto;
  flex-shrink: 0;
}

/* default styles here for older browsers. 
    I tend to go for a 600px - 960px width max but using percentages
    styles for browsers larger than 960px;
*/
@media only screen and (min-width: 960px) {
  .content > * {
    margin-left: 20px;
  }
}

/* styles for browsers larger than 1440px; */
@media only screen and (min-width: 1440px) {
  .content > * {
    margin-left: 20px;
  }
}

/* for sumo sized (mac) screens */
@media only screen and (min-width: 2000px) {
}

/* styles for mobile browsers smaller than 480px; (iPhone) */
@media only screen and (max-device-width: 480px) {
  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .content > * {
    margin: 0 10px 0 10px;
  }
}

/* default iPad screens */
@media only screen and (device-width: 768px) {
  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .content > * {
    margin-left: 20px;
  }
}
/* different techniques for iPad screening 
  For portrait layouts only
*/
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  .content {
    display: flex;
    justify-content: space-between;
  }
}

/*For landscape layouts only*/
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
  .content {
    display: flex;
    justify-content: space-between;
  }
}
