.main {
  display: flex;
  justify-content: space-between;
  transition: 1s ease;
}

main {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}

main .content {
  margin-top: 100px;
}

/**** CHILD COMPONENT */
.app-bar {
  background-color: #fff;
  border-bottom: 1px solid rgb(177, 177, 177);
}

.sidebar-collapse {
  background-color: #fff;
  border-right: 1px solid rgb(177, 177, 177);
}

.sidebar-uncollapse {
  background-color: #fff;
  border-right: 1px solid rgb(177, 177, 177);
}

.tasksCardList {
  background-color: #efefef;
}

div.content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/** DARK MODE */
.app-bar-dark-mode {
  position: fixed;
  z-index: 1;
  background-color: #23272f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  width: 100%;
  transition: 1s ease;
}

.app-bar-dark-mode {
  border-bottom: 1px solid rgb(255, 255, 255);
}

.app-bar-dark-mode .logo {
  margin-bottom: 10px;
  margin-left: 10px;
  color: #fff;
  font-size: 40px;
}

.app-bar-dark-mode .nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 40%;
}

.app-bar-dark-mode .nav-items li {
  list-style-type: none;
  color: #fff;
  font-weight: 900;
  cursor: pointer;
}

.main-dark {
  display: flex;
  justify-content: space-between;
  background-color: #23272f;
  transition: 1s ease;
}

.main-dark .sidebar-collapse-dark {
  background-color: #23272f;
  transition: 1s ease;
}

.main-dark .sidebar-collapse-dark h1 {
  color: #fff;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 2px;
  transition: 1s ease;
}

.main-dark .sidebar-collapse-dark .sidebar-menu .sidebar-menu-item {
  color: #fff;
}

.main-dark .sidebar-uncollapse-dark {
  background-color: #23272f;
  transition: 1s ease;
}

.main-dark .sidebar-uncollapse-dark h1 {
  color: #fff;
  transition: 1s ease;
}

.main-dark .sidebar-uncollapse-dark .sidebar-menu .sidebar-menu-item {
  color: #fff;
}

.main-dark .sidebar-uncollapse-dark li .sidebar-menu-item:hover {
  background-color: #283641;
  color: #249eca;
}

.tasksCardListInfo-dark {
  display: flex;
  justify-content: space-around;
  width: 300px;
}

.tasksCardListInfo-dark .title {
  font-size: 25px;
  padding-top: 15px;
  color: #fff;
}

.tasksCardListInfo-dark .add-button .plus-icon {
  font-size: 40px;
  margin: 20px 0 10px 100px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: #ffffff;
}

.tasksCardList-dark {
  background-color: #343a46;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 300px;
  transition: 1s ease;
  border-radius: 10px;
}

footer.footer-dark {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #343a46;
  padding-top: 30px;
  transition: 1s ease;
}

footer.footer-dark .social-networks {
  display: flex;
  justify-content: center;
}

footer.footer-dark .social-networks ul.social-networks-links {
  display: flex;
  justify-content: space-around;
  width: 150px;
}

footer.footer-dark .contact_copyright {
  padding-bottom: 20px;
  color: #fffdfd;
  border-bottom: 1px solid #fffdfd;
}

footer.footer-dark .social-networks ul li a {
  font-size: 30px;
  color: #fffdfd;
}

footer.footer-dark .contact_copyright .copyright .author {
  color: #fffdfd;
  text-decoration: none;
}

@media only screen and (max-device-width: 480px) {
  /* styles for mobile browsers smaller than 480px; (iPhone) */

  div.content {
    display: flex;
    flex-direction: column;
  }

  .tasksCardList-dark {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    width: 390px;
    height: 250px;
    margin-left: 10px;
  }
}
