.main {
  display: flex;
  justify-content: space-between;
  transition: 1s ease;
}

main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  min-height: 948px;
}

main .content {
  margin-top: 100px;
}

/**** CHILD COMPONENT */
.app-bar {
  background-color: #fff;
  border-bottom: 1px solid rgb(177, 177, 177);
}

.sidebar-collapse {
  background-color: #fff;
  border-right: 1px solid rgb(177, 177, 177);
}

.sidebar-uncollapse {
  border-right: 1px solid rgb(177, 177, 177);
}

.tasksCardList {
  background-color: #efefef;
}

div.content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/** DARK MODE */
.app-bar-dark-mode {
  position: fixed;
  z-index: 1;
  background-color: #23272f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  width: 100%;
  transition: 1s ease;
}

.app-bar-dark-mode {
  /* border-bottom: 1px solid rgb(255, 255, 255); */
  box-shadow: 0 0 5px 1px #343a46;
}

.app-bar-dark-mode .logo {
  margin-bottom: 10px;
  margin-left: 10px;
  color: #fff;
  font-size: 40px;
}

.app-bar-dark-mode .nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 40%;
}

.app-bar-dark-mode .nav-items li {
  list-style-type: none;
  color: #fff;
  font-weight: 900;
  cursor: pointer;
}

.app-bar-dark-mode .nav-items .theme-switch-button {
  background-color: transparent;
  border: none;
}

.app-bar-dark-mode .nav-items .theme-switch-button .theme-switch-button-icon {
  color: #f5e53a;
  font-size: 30px;
  cursor: pointer;
}

.main-dark {
  display: flex;
  justify-content: space-between;
  background-color: #23272f;
  transition: 1s ease;
  min-height: 948px;
}

.main-dark .sidebar-collapse-dark {
  background-color: #23272f;
  box-shadow: 0 0 5px 1px #343a46;
  border: none;
  transition: 1s ease;
}

.main-dark .sidebar-collapse-dark h1 {
  color: #fff;
  font-size: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-top: auto;
  transition: 1s ease;
  position: fixed;
  padding-bottom: 11px;
  border: none;
  box-shadow: 0 0 5px 1px #343a46;
  width: 60px;
}

.main-dark .sidebar-uncollapse-dark {
  background-color: #23272f;
  box-shadow: 0 0 5px 1px #343a46;
  border: none;
  transition: 1s ease;
}

.main-dark .sidebar-uncollapse-dark h1 {
  color: #fff;
  transition: 1s ease;
  position: fixed;
  padding-bottom: 9px;
  padding-top: 9px;
  margin-top: auto;
  border: none;
  box-shadow: 0 0 5px 1px #343a46;
  width: 133px;
}

.main-dark .sidebar-collapse-dark li .sidebar-menu-item-active > * {
  color: #249eca;
}

.main-dark .sidebar-uncollapse-dark li .sidebar-menu-item-active > * {
  border-bottom: 2px solid #283641;
  color: #249eca;
}

.tasksCardListInfo-dark {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.tasksCardListInfo-dark .title {
  font-size: 25px;
  color: #fff;
  margin-top: auto;
}

.tasksCardListInfo-dark .plus-icon {
  font-size: 40px;
  color: #ffffff;
  cursor: pointer;
}

.tasksCardList-dark {
  background-color: #343a46;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 300px;
  transition: 1s ease;
  border-radius: 10px;
}

.modal-main-dark {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  width: 50%;
  height: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #23272f;
}

.modal-main-dark h2 {
  background-color: #283641;
  color: #249eca;
  height: 40px;
  width: 50%;
  padding-top: 10px;
  text-align: center;
}

.modal-main-dark input,
.modal-main-dark textarea,
.modal-main-dark select {
  background-color: #343a46;
  color: #787f8f;
  border: #23272f;
}

.modal-main-dark input:focus,
.modal-main-dark textarea:focus,
.modal-main-dark select:focus {
  background-color: #283641;
}

.modal-main-dark button.save {
  background-color: #249eca;
  border: #249eca;
}

footer.footer-dark {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #343a46;
  padding-top: 30px;
  transition: 1s ease;
}

footer.footer-dark .social-networks {
  display: flex;
  justify-content: center;
}

footer.footer-dark .social-networks ul.social-networks-links {
  display: flex;
  justify-content: space-around;
  width: 150px;
}

footer.footer-dark .contact_copyright {
  padding-bottom: 20px;
  color: #fffdfd;
  border-bottom: 1px solid #fffdfd;
}

footer.footer-dark .social-networks ul li a {
  font-size: 30px;
  color: #fffdfd;
}

footer.footer-dark .contact_copyright .copyright .author {
  color: #fffdfd;
  text-decoration: none;
}

@media only screen and (device-width: 768px) {
  /* default iPad screens */
  main {
    min-height: 1335px;
    min-width: 500px;
  }
}

@media only screen and (max-device-width: 480px) {
  /* styles for mobile browsers smaller than 480px; (iPhone) */

  .tasksCardListInfo-dark {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  main .content {
    margin-top: 50px;
  }

  div.content {
    display: flex;
    flex-direction: column;
  }

  .tasksCardList-dark {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    width: 390px;
    height: 250px;
    margin-left: 10px;
  }
  .app-bar-dark-mode {
    position: fixed;
  }

  .modal-main-dark {
    width: 100%;
    height: 100%;
    background-color: #23272f;
  }
}
