.main {
  display: flex;
  justify-content: space-between;
}

main {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}

div.content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

@media only screen and (max-device-width: 480px) {
  /* styles for mobile browsers smaller than 480px; (iPhone) */

  div.content {
    display: flex;
    flex-direction: column;
  }
}
